<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Todos</title>
</head>
<body>
  <script src="./vue3.js"></script>

  <div id="app">
    <todo-form @add-todo="addTodo"></todo-form>
    <ul>
      <todo-item
        v-for="item of items" :key="item.id"
        :todo="item"
        @change-completed="changeCompleted"
        @remove-todo="removeTodo"
      >
      </todo-item>
    </ul>
  </div>

  <script>
    const { createApp } = Vue

    const TodoList = {
      data() {
        return {
          items: [
            {
              id: 1,
              content: 'Do homework',
              completed: false
            },
            {
              id: 2,
              content: 'Do chores',
              completed: false
            },
            {
              id: 3,
              content: 'Cook dinner',
              completed: false
            }
          ]
        }
      },
      methods: {
        addTodo(value) {
          this.items.push({
            id: new Date().getTime(),
            content: value,
            completed: false
          })
        },
        changeCompleted(id) {
          this.items = this.items.map(item => {
            if (item.id === id) {
              item.completed = !item.completed
            }
            return item
          })
        },
        removeTodo(id) {
          this.items = this.items.filter(item => item.id !== id)
        }
      }
    }

    const app = createApp(TodoList)

    app.component('todo-form', {
      template: `
        <div>
          <input type="text" v-model="inputValue" />
          <button @click="addTodo">Add</button>
        </div>
      `,
      data() {
        return {
          inputValue: ''
        }
      },
      methods: {
        addTodo() {
          this.$emit('add-todo', this.inputValue)
        }
      }
    })

    app.component('todo-item', {
      props: ['todo'],
      template: `
        <li>
          <input type="checkbox" @click="changeCompleted(todo.id)" />
          <span :style="{ textDecoration: todo.completed ? 'line-through' : 'none' }">
            {{ todo.content }}
          </span>
          <button @click="removeTodo(todo.id)">Delete</button>
        </li>
      `,
      methods: {
        changeCompleted(id) {
          this.$emit('change-completed', id)
        },
        removeTodo(id) {
          this.$emit('remove-todo', id)
        }
      }
    })

    app.mount('#app')
  </script>
</body>
</html>