<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Todo List</title>
</head>

<body>

  <script src="vue3.js"></script>

  <div id="app">
    <todo-form @add-todo="addTodo"></todo-form>
    <ul>
      <todo-item v-for="item of items" :key="item.id" :todo="item" @change-completed="changeCompleted"
        @remove-todo="removeTodo">
      </todo-item>
    </ul>
  </div>

  <script>
    const { createApp } = Vue

    // Define the root component
    const TodoList = {
      data() {
        return {
          items: [
            {
              id: 1,
              content: 'Study',
              completed: false
            },
            {
              id: 2,
              content: 'Cook',
              completed: false
            },
            {
              id: 3,
              content: 'Do chores',
              completed: false
            }
          ]
        }
      },
      methods: {
        addTodo(value) {
          if (value) {
            this.items.push({
              id: new Date().getTime(),
              content: value,
              completed: false
            })
          }
        },
        removeTodo(id) {
          this.items = this.items.filter(item => item.id !== id)
        },
        changeCompleted(id) {
          this.items = this.items.map(item => {
            if (item.id === id) {
              item.completed = !item.completed
            }
            return item
          })
        }
      }
    }

    const app = createApp(TodoList)

    // Register a global component
    app.component('todo-form', {
      data() {
        return {
          inputValue: ''
        }
      },
      template: `
        <div>
          <input type="text" placeholder="Add new todo..." v-model="inputValue" @keydown.enter="addTodo"/>
          <button @click="addTodo">Add one</button>
        </div>
      `,
      methods: {
        addTodo() {
          this.$emit('add-todo', this.inputValue)
        }
      }
    })

    app.component('todo-item', {
      props: ['todo'],
      template: `
        <li>
          <input
            type="checkbox"
            :checked="todo.completed"
            @click="changeCompleted(todo.id)"
          />
          <span :style="styleObject">
            {{ todo.content }}
          </span>
          <button @click="removeTodo(todo.id)">Delete</button>
        </li>
      `,
      computed: {
        styleObject() {
          return {
            textDecoration: this.todo.completed ? 'line-through' : 'none'
          }
        }
      },
      methods: {
        changeCompleted(id) {
          this.$emit('change-completed', id)
          console.log(this.todo.completed);
        },
        removeTodo(id) {
          this.$emit('remove-todo', id)
        }
      }
    })

    // Mount the app
    app.mount('#app')
  </script>
</body>

</html>